@import '../../../assets/scss/variables/colors';
@import '../../../assets/scss/variables/fonts';

.aside__container {
  height: 100vh;
  width: 15vw;
  background-color: $white-color;
  color: $white-color;
  box-sizing: content-box;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}

.aside__container .aside__header {
  background: $gradient-color ;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.aside__header .title__header {
  font-size: 30px;
  text-transform: uppercase;
}


.aside__content .aside__menu {

  height: 100vh;
  background: $primary-rgb-color;
  color: $default-rgb-color;
  text-align: left;
}

.aside__menu .menu__item {
  font-family: $quicksand;
  height: 33px;
  padding-left: 24px;
  color: $default-rgb-color;
  border-bottom: 2px solid $border-rgb-color;
  font-size: 15px;
  font-weight: 500;
  display: flex;
  align-items: center;
  text-decoration: none;

  &:hover {
    cursor: pointer;
  }

}

// ESTABELECER ALGUM REGRA PARA CRIAR
a.active {
  background-color: $secondary-rgb-color;
  border-left: 5px solid $secondary-color;

}
