<header class="container__header">
  <main class="content__header">
    <div class="header__apresentation">
      <h2 class="apresentation__subtitle">
        Anais do Simpósio Latino Americano de Ciências de Alimentos
      </h2>
      <h1 class="apresentation__title">
        Anais do 13º Simpósio Latino Americano de Ciência de Alimentos
      </h1>
      <h2 class="apresentation__subtitle">ISSN: 1234-5678</h2>
    </div>
    <span>
        <button class="header__btn">
          <img class="globe__img" src="{{ img.globe }}" alt="globe image" />
          <p class="btn__text">PT, BR</p>
          <img
            class="dropdown__img"
            src="{{ img.dropdown }}"
            alt="dropdown image"
          />
        </button>

      <div class="header__user-content">
        <div class="user__information">
          <p class="information__text greetings">Bem vindo!</p>
          <p class="information__text">alguem12@galoascience.com</p>
        </div>
        <img
          class="user__picture"
          src="../../../assets/images/user-image.jpg"
          alt="user profile picture"
        />
      </div>
    </span>
  </main>
</header>
