.container__app{
  display: flex;
  height: 100vh;
  background-color: crimson;

}
.container__app .content__app{
  display: flex;
  width: 98vw;
  flex-direction: column;
  min-height: fit-content;
  background-color: #fff;

}
